.myImg {
  border-radius: 50%;
  width: 200px;
}
.background {
  background: rgb(152, 235, 235);
}
#cv-template {
  display: none;
}
.t1 {
  font-weight: 600;
  color: #333;
}
.t2 {
  font-weight: 600;
  color: aqua;
}
.anchor {
  text-decoration: none;
}
.content {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
.info1 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.info2 {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.resume {
  margin-top: 5%;
  margin-left: 30%;
  height: 50%;
  width: 50%;
}
/* .para2 {
  margin-top: 6%;
  margin-left: 25%;
  display: flex;
}
.para2 {
  display: flex;
}
.p1 {
  width: 40%;
  background-color: blueviolet;
}
.p1 img {
  min-height: 20px;
  max-height: 350px;
  border-radius: 7px;
  width: auto;
}
.p2 {
  width: 40%;
  height: 70px;
  padding: 18px;
} */
.para2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
}

.para2 img {
  height: 75%;
  width: 100%;
  border-radius: 7%;
}

.p1 {
  width: 100%;
}

.p2 {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

@media (min-width: 768px) {
  .para2 {
    margin-left: 10%;
  }
  .p1 {
    width: 50%;
  }
  .p2 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .para2 {
    margin-left: 15%;
  }
  .p1 {
    width: 40%;
  }
  .p2 {
    width: 60%;
  }
}

/*.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
} */

.para3 {
  display: flex;
  background-color: rgb(230, 205, 171);
  padding: 15px;
  height: 10%;
}

.para3 img {
  height: 30%;
  margin-top: 9px;
  width: 35%;
}
.para3 .p31,
.para3 .p32,
.para3 .p33 {
  width: 30%;
  text-align: center;
  font-size: 13.5px;
  padding: 10px;
}
